footer.footer
  div.footer__container.container
    .footer__top
      .footer__logocontainer
        .footer__logobox
          img(src="./img/logo.svg", alt="logo").footer__logo
        .footer__logotextbox
          .footer__logo-title Резкрой
          .footer__logo-text профессиональная мебельная компания
      .footer__services
        .footer__service-item
          .footer__service-iconbox
            img(src="./img/ahammer.svg", alt="service icon").footer__service-icon
          .footer__service-textbox
            .footer__service-title Проектирование
            .footer__service-sep
            .footer__service-text от эскиза до 3Д модели
        
        .footer__service-item
          .footer__service-iconbox
            img(src="./img/ahammer.svg", alt="service icon").footer__service-icon
          .footer__service-textbox
            .footer__service-title Доставка
            .footer__service-sep
            .footer__service-text по всей России
        
        .footer__service-item
          .footer__service-iconbox
            img(src="./img/ahammer.svg", alt="service icon").footer__service-icon
          .footer__service-textbox
            .footer__service-title Сборка
            .footer__service-sep
            .footer__service-text Нашими мастерами
        
        .footer__service-item
          .footer__service-iconbox
            img(src="./img/ahammer.svg", alt="service icon").footer__service-icon
          .footer__service-textbox
            .footer__service-title Гарантии и сервис
            .footer__service-sep
            .footer__service-text гарантия от 3 лет

    .footer__bottom
      .footer__grid
        .footer__grid-item
          .footer__grid-title Контакты
          .footer__grid-sep
          .footer__grid-inner
            .footer__grid-group
              .footer__address.footer__address_lowmb г. Москва, ул. Чагинская, д. 4, стр. 2
              .footer__under-address (производство)
              .footer__valuebox
                .footer__label тел:
                .footer__value +7(964)559-99-21
              .footer__valuebox
                .footer__label e-mail:
                .footer__value 88888@88888

            .footer__grid-group
              .footer__address ТЦ "Люблинское Поле" пав. Д-106
              .footer__valuebox
                .footer__label тел:
                .footer__value +7(985)147-60-56
              .footer__valuebox
                .footer__label e-mail:
                .footer__value 88888@88888
            
            .footer__grid-group
              .footer__address ТЦ "Москва", "Строительный рынок"
              .footer__less пав. А-144, А-146, А-148
              .footer__valuebox
                .footer__label тел:
                .footer__value +7(999)999-99-99
              .footer__valuebox
                .footer__label e-mail:
                .footer__value 88888@88888

        .footer__grid-item
          .footer__grid-title Услуги
          .footer__grid-sep
          .footer__grid-box
            .footer__box-value
              a(href='#').footer__box-value-link Изготовление мебели
            .footer__box-value
              a(href='#').footer__box-value-link Изготовление фасадов
            .footer__box-value
              a(href='#').footer__box-value-link Распил, кромление, резка
            .footer__box-value
              a(href='#').footer__box-value-link Продажа плитных материалов

        .footer__grid-item
          .footer__grid-title Мебель
          .footer__grid-sep
          .footer__grid-box
            .footer__box-value
              a(href='#').footer__box-value-link Кухни
            .footer__box-value
              a(href='#').footer__box-value-link Шкафы
            .footer__box-value
              a(href='#').footer__box-value-link Прихожие
            .footer__box-value
              a(href='#').footer__box-value-link Гардеробные
            .footer__box-value
              a(href='#').footer__box-value-link Тумбы
            .footer__box-value
              a(href='#').footer__box-value-link Кровати
            .footer__box-value
              a(href='#').footer__box-value-link Торговое оборудование

        .footer__grid-item
          .footer__grid-title Материалы
          .footer__grid-sep
          .footer__grid-box
            .footer__box-value
              a(href='#').footer__box-value-link ЛДСП Egger
            .footer__box-value
              a(href='#').footer__box-value-link ЛДСП Kronospan
            .footer__box-value
              a(href='#').footer__box-value-link Панели AGT
            .footer__box-value
              a(href='#').footer__box-value-link Кромка ПВХ
            .footer__box-value
              a(href='#').footer__box-value-link МДФ
            .footer__box-value
              a(href='#').footer__box-value-link Фанера
            .footer__box-value
              a(href='#').footer__box-value-link Стекла, Зеркала


