header.header
  div.header__container.container
    div.header__logobox
      div.header__logo

    nav.header__menu.menu
      ul.header__list.list
        li.list__item
          a(href="#").list__link Home
        li.list__item
          a(href="#").list__link About
        li.list__item
          a(href="#").list__link New
        li.list__item
          a(href="#").list__link Contacts

    div.header__login
      button.loginbtn login/signup
