section.hero
    div.hero__container
      h1.hero__title Решения для изготовления мебели и торгового оборудования
      p.hero__text Мебель на заказ, изготовления деталей, плитные материалы для бизнеса - все в одном месте
