section.lent
  div.lent__container.container
    .lent__item
      .lent__icon
        img(src='./img/star.svg', alt='star').lent__iconsvg
      .lent__text Более 12 лет на рынке
    
    .lent__item
      .lent__icon
        img(src='./img/star.svg', alt='star').lent__iconsvg
      .lent__text Самые низкие цены
    
    .lent__item
      .lent__icon
        img(src='./img/star.svg', alt='star').lent__iconsvg
      .lent__text Работаем 24/7
    
    .lent__item
      .lent__icon
        img(src='./img/star.svg', alt='star').lent__iconsvg
      .lent__text Более 70 видов декора в наличии
    