section.materials
  .materials__container.container
    .materials__lent
      .materials__decor
      h2.materials__material-title Плитные материалы, распил
      .materials__decor
    
    .materials__subtitle Ищете метариал или торговое оборудование для своего бизнеса?
    .materials__text У нас в наличии всегда ассортимент материалов и декоров ведущих поставщиков ЛДСП, МДФ, фанеры, кромки, стекла, зеркал. При необходимости распилим, закромим, сделаем присадку

    .materials__gallery
      .materials__item
        img(src='./img/glass.jpg', alt='material item').materials__itemimg
      .materials__item
        img(src='./img/sand.jpg', alt='material item').materials__itemimg
      .materials__item
        img(src='./img/wood.jpg', alt='material item').materials__itemimg
      .materials__item
        img(src='./img/soil.jpg', alt='material item').materials__itemimg

    .materials__btnbox
      button.materials__btn Посмотреть ассортимент