section.mebel-orders
  .mebel-oreders__container.container
    .mebel-orders__lent
      .mebel-orders__decor
      .mebel-orders__mebel-on-order Мебель на заказ
      .mebel-orders__decor

    .mebel-orders__info
      p Изготавливаем мебель по вашим размерам любой сложности и конфигурации.
      p Опытные дизайнеры и конструкторы разрабатывают грамотный проект.
      p Огромный ассортимент материалов и декоров позволит воплотить вашу мечту в жизнь!

    .mebel-orders__gallery.mebel-orders__gallery-01
      .mebel-orders__item
        img(src='./img/mebel-decor-01.jpg', alt='mebel order picture').mebel-orders__itemimg
        .mebel-orders__label.mebel-orders__label-01 Кухни
      .mebel-orders__item
        img(src='./img/mebel-decor-02.jpg', alt='mebel order picture').mebel-orders__itemimg
        .mebel-orders__label.mebel-orders__label-02 Шкафы

    .mebel-orders__gallery.mebel-orders__gallery-02
      .mebel-orders__item
        img(src='./img/mebel-decor-03.jpg', alt='mebel order picture').mebel-orders__itemimg
        .mebel-orders__label.mebel-orders__label-03 Гардеробные
      .mebel-orders__item
        img(src='./img/mebel-decor-04.jpg', alt='mebel order picture').mebel-orders__itemimg
        .mebel-orders__label.mebel-orders__label-04 Торговое оборудование

    
    .mebel-orders__btnbox
      button.mebel-orders__btn Смотреть весь каталог