section.new-idea
  .new-idea__container.container
    h2.new-idea__title Есть проект или идея?
    p.new-idea__text Расскажите о своей идее или пришлите ее проект, мы предложим варианты<br /> для ее реализации и подготовим проект!
    .new-idea__btnbox
      button.new-idea__btn Оставить заявку
    .new-idea__cover
      img(src='./img/kitchen-cover.jpg', alt='new idea cover').new-idea__coverimg
