section.offers
  div.offers__container.container
    .offers__lent
      .offers__decor
      .offers__deals Наши Услуги
      .offers__decor
    .offers__gallery.offers__gallery-01
      .offers__item
        img(src='./img/offer.jpg', alt='offer item').offers__itemimg
        .offers__label
          .offers__title Изготовление мебели
          .offers__text Кухни, шкафы, торговое оборудование
        
      .offers__item
        img(src='./img/offer.jpg', alt='offer item').offers__itemimg
        .offers__label
          .offers__title Изготовление мебели
          .offers__text Кухни, шкафы, торговое оборудование
    
    .offers__gallery.offers__gallery-02
      .offers__item
        img(src='./img/offer.jpg', alt='offer item').offers__itemimg
        .offers__label
          .offers__title Изготовление мебели
          .offers__text Кухни, шкафы, торговое оборудование
        
      .offers__item
        img(src='./img/offer.jpg', alt='offer item').offers__itemimg
        .offers__label
          .offers__title Изготовление мебели
          .offers__text Кухни, шкафы, торговое оборудование