section.why
  .why__container.container
    h3.why__title Почему мы?

    .why__box
      .why__item
        .why__iconbox
          img(src="./img/star-02.svg", alt="why-section icon").why__icon
        .why__text Доставка по всей России
      .why__item
        .why__iconbox
          img(src="./img/star-02.svg", alt="why-section icon").why__icon
        .why__text Огромный ассортимент
      .why__item
        .why__iconbox
          img(src="./img/star-02.svg", alt="why-section icon").why__icon
        .why__text Работа 24/7
      .why__item
        .why__iconbox
          img(src="./img/star-02.svg", alt="why-section icon").why__icon
        .why__text Только проверенные производители
      .why__item
        .why__iconbox
          img(src="./img/star-02.svg", alt="why-section icon").why__icon
        .why__text Работаем с Юр/Физ-лицами

    .why__leavebox
      button.why__leavebtn Оставить заявку