.header {
  // border-bottom: 1px solid #bbb;
  background-color: rgb(58, 58, 58);
  // margin-bottom: 24px;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
  font-size: 13px;

  &__container {
    height: 100px;
    display: flex;
    align-items: flex-end;
    gap: 64px;
  }

  &__logobox {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 10px;
  }

  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 55px;
    &svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__text-top {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  &__text-bottom {
    font-size: 13px;
    color: #ccc;
  }

  &__numbers {
    font-size: 13px;
    color: #ccc;
    padding-bottom: 20px;
  }
  &__number-01 {
    margin-bottom: 10px;
  }

  &__menu {
    flex: 1 1 auto;
    padding-bottom: 10px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 3em;
  }
}

.list {
  &__link {
    font-size: 13px;
    color: #ccc;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.burger {
  position: relative;
  z-index: 100;
  display: flex;
  display: none;
  flex-flow: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;

  &__one,
  &__two,
  &__three {
    height: 1.5px;
    width: 100%;
    background-color: #fff;
  }
}

.menu-logobox {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  display: none;
}
.menu-logoimgbox {
  width: 50px;
  height: 50px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.menu-logotextbox {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}
.menu-logo-title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.menu-logo-text {
  font-size: 13px;
  color: rgb(194, 194, 194);
}

.menu-numberbox {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.menu-numberlist {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
.menu-number {
  color: rgb(194, 194, 194);
  font-size: 13px;
}

.menu-active .menu-logobox {
  display: flex;
}
.menu-active .menu-numberbox {
  display: block;
}

@media (max-width: 1219px) {
  .header {
    &__container {
      gap: 32px;
    }
    &__list {
      gap: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &__container {
      justify-content: space-between;
    }
    &__menu {
      display: none;
    }
  }
  .burger {
    display: flex;
    margin-bottom: 20px;
  }
}

@media (max-width: 649px) {
  .header {
    &__container {
      gap: 16px;
    }
    &__text-bottom {
      display: none;
    }
  }
}

@media (max-width: 449px) {
  .header {
    &__text-top {
      font-size: 20px;
    }
    &__logobox {
      display: flex;
      flex-flow: column nowrap;
      gap: 8px;
      padding-bottom: 8px;
    }
  }
  .burger {
    width: 30px;
  }
  .menu-logobox {
    flex-flow: column nowrap;
  }
  .menu-logo-text {
    display: none;
  }
}

@media (max-width: 363px) {
  .header {
    &__text-top {
      font-size: 18px;
    }
  }
  .burger {
    width: 25px;
  }
}

.header.menu-active .header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
}
