@use 'util/_reset';
// @use 'util/_variables';
// @use 'util/_fonts';

@use '_header';
@use '_footer';
@use '_main';
@use '_hero';
@use '_lent';
@use '_offers';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
  color: #444;
  font-size: 16px;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 850px) {
  .container {
    max-width: 850px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1220px) {
  .container {
    max-width: 1220px;
  }
}

html.lock {
  overflow: hidden;
}
